<footer class="bg-footer overflow-hidden">
  <div class="container-center py-16 sm:py-24 lg:pt-[102px] lg:pb-[96px]">
    <div class="xl:grid xl:grid-cols-5 xl:gap-8">
      <div>
        <img
          class="h-15 w-auto"
          src="/assets/images/logo-leo-pharma.webp"
          alt="Leo Pharma"
        />

        <div class="mt-5 flex flex-col gap-2.5">
          <a href="#" class="text-white flex items-center gap-3">
            <img
              class="size-5"
              src="/assets/icons/facebook.webp"
              alt="Facebook"
            />
            <span class="text-sm/6">Facebook</span>
          </a>
          <a href="#" class="text-white flex items-center gap-3">
            <img
              class="size-5"
              src="/assets/icons/instagram.webp"
              alt="Instagram"
            />
            <span class="text-sm/6">Instagram</span>
          </a>
          <a href="#" class="text-white flex items-center gap-3">
            <img
              class="size-5"
              src="/assets/icons/linkedin.webp"
              alt="Linkedin"
            />
            <span class="text-sm/6">Linkedin</span>
          </a>
        </div>
      </div>
      <div
        class="mt-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 xl:col-span-4 xl:mt-0 text-left text-white font-normal"
      >
        <div>
          <h3 class="text-sm/6 text-medium-gray">
            <span class="font-bold">CHE</span>Challenge
          </h3>
          <p class="mt-4 sm:mt-6.5 lg:max-w-[223px] text-sm/6">
            Un’esperienza interattiva che unisce gamification e apprendimento
            strutturato sulla patologia dell'eczema cronico delle mani (CHE).
          </p>
        </div>
        <div>
          <h3 class="text-sm/6 text-medium-gray font-bold">
            Informazioni utili
          </h3>
          <p class="mt-4 sm:mt-6.5 lg:max-w-[223px] text-sm/6">
            LEO Pharma S.P.A Via Elio Vittorini, 129 IT - 00144 Roma, Italia |
            +39 06 52625 500
          </p>
        </div>
        <div>
          <h3 class="text-sm/6 text-medium-gray font-bold">
            © 2025 LEO Pharma
          </h3>
          <p class="mt-4 sm:mt-6.5 lg:max-w-[223px] text-sm/6">
            LEO-Pharma® – Tutti i marchi appartengono a LEO-Pharma®
            <span class="font-medium">https://www.leo-pharma.it</span>
          </p>
        </div>
        <div class="sm:-mt-6">
          <img
            src="/assets/images/tagline.webp"
            alt="tagline"
            class="h-12 w-auto -ml-4.5"
          />
          <p class="mt-4 sm:mt-5.75 lg:max-w-[223px] text-sm/6">
            Cod. LP-80-25
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
